.main-container {
    margin: auto;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
.left-side{
    
   border-right: 1px solid #000;
}