.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/forest.jpg);
    height: calc(100vh - 120px);
}
.play{
    background-image: url(..//img/play.svg);
    background-color: transparent;
    width: 64px;
    height: 64px;
}
.pause{
    background-image: url(../img/pause.svg);
    width: 64px;
    height: 64px;
}
.solovei{
    background-image: url(../img/solovey.jpg);
}
.drozd{
    background-image: url(../img/drozd.jpg);
}
.zarynka{
    background-image: url(../img/zarynka.jpg);
}
.javaronok{
    background-image: url(../img/javoronok.jpg);
}
.slavka{
    background-image: url(../img/slavka.jpg);
}